{% extends 'BlogBundle::base.html.twig' %}
{% block content %}
	<div class="col-xs-12">
		<div class="jumbotron-container">
			<div >
			  <div class="modal-header">
			    <h2 class="modal-title" >Articles</h2>
			  </div>
			  <div class="modal-body">
				<div class="article">
					<div class="article-title">
						<div class="title"><a href="{{ path('article_display_title', {title:article.title}) }}"> N°{{ article.id }} - {{ article.title }}</a></div>
						<div class="date text-right">{{ article.author.username }} le {{ article.date|date('m-d-Y') }}</div>
					</div>
					<div class="article-content">
						<p >{{ article.content }}</p>
					</div>
				</div>
				{% include 'BlogBundle:Comment:all.html.twig' %}
			  </div>
			</div>
		</div>
	</div>
{% endblock %}